@font-face {
    font-family: Lato;
    src: url(https://gu-st.ru/landing-template-engine-st/lib-assets/fonts/Lato-Regular-v2.woff) format("woff");
}


body {
    font-family: Lato, Arial, sans-serif;
    color: #0b1f33;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 64px;

    z-index: 1;
    box-shadow: 0 2px 2px #9daccf14;
    position: fixed;

    gap: 370px;
}

.p_nav_header {
    color: #0d4cd3;
    margin-right: 24px;
}

.p_nav_header_first {
    color: #0d4cd3;
    margin-left: 24px;
}

.p_nav_header_second {
    color: #0d4cd3;
    margin: 0;
}

.nav_header_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.nav_header_blue_block  {
    padding: 10px 16px;
    background: #edf2fe;
    border-radius: 12px;
    margin-left: 32px;
}

.container_head {
    width: 100%;
    height: 414px;
    background: linear-gradient(86deg, rgb(223, 222, 255) 0%, rgb(255, 227, 227) 100%);
}

.container_flex_head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;

    gap: 100px;
}

.h1_head {
    margin-top: 64px;
    font-size: 36px;
    color: #0b1f33;
    font-style: normal;
}

.p_description_head {
    font-size: 16;
    line-height: 24px;
    font-style: normal;
}

.container_flex_block_01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: rgb(250, 252, 255);
    height: 470px;
}

.block_01 {
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 4px #e3ebfc, 0 24px 48px #e6ebf566;
    border-radius: 12px;
    padding: 24px;
    width: 965px;
}

.title_h1_block_01 {
    font-size: 32px;
    font-style: normal;
    margin: 32px 0px 32px;
}

.p_block_01 {
    padding: 0;
    margin: 0;
    line-height: 24px;
}

.ul_block_01 {
    list-style-type: none;
    padding: 0;
}

.ul_block_01 li {
    position: relative;
    margin-bottom: 16px;
    padding-left: 20px;
}

.ul_block_01 li::before {
    content: "—";   
    position: absolute;
    color: #4d83fa;
    left: 0;
}

.container_flex_block_02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: rgb(255, 255, 255);
    height: 380px;
}

.title_h1_block_02 {
    font-size: 32px;
    font-style: normal;
    margin: 0px 0px 32px;
}

.block_flex_02 {
    width: 66.7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block_02 {
    width: 40%;
    padding: 24px;
    box-shadow: 0 1px 4px #e3ebfc, 0 24px 48px #e6ebf566;
    border-radius: 12px;
}

.ul_block_02 {
    list-style-type: none;
    padding: 0;
    margin: 12px 0px 0px 20px;
}

.ul_block_02 li {
    position: relative;
    margin-bottom: 16px;
}

.ul_block_02 li::before {
    content: "●";   
    position: absolute;
    color: #4d83fa;
    left: -20px;
}

.h1_block {
    font-size: 18px;
    margin: 0;
}

.h1_block_second {
    font-size: 18px;
    margin: 24px 0px 0px;
}

.container_flex_block_03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: rgb(255, 255, 255);
    height: 610px;
}

.block_03 {
    width: 1013px;
    height: 100%;
    padding: 0;
}

.block_03_first {
    width: 965px;
    padding: 24px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 4px #e3ebfc, 0 24px 48px #e6ebf566;
    border-radius: 12px;
    margin: 0px 0px 48px;
}

.block_03_second {
    width: 965px;
    padding: 24px;
    background-color: rgb(237, 242, 254);
    box-shadow: 0 1px 4px #e3ebfc, 0 24px 48px #e6ebf566;
    border-radius: 12px;
}

.ul_block_03 {
    list-style-type: none;
    padding: 0;
}

.ul_block_03 li {
    position: relative;
    margin-bottom: 16px;
    padding-left: 40px;
}

.ul_block_03 li::before {
    content: "—";   
    position: absolute;
    color: #4d83fa;
    left: 20px;
}

.container_flex_block_04 {
    height: 1024px;
    background: rgb(250, 252, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.title_h1_block_04 {
    font-size: 32px;
    font-style: normal;
    margin: 64px 0px 32px;
}

.block_04 {
    width: 1013px;
    height: 100%;
    padding: 0;
}

.p_block_blue_04 {
    margin: 0;
    line-height: 24px;
}

.p_block_04 {
    line-height: 24px;
    margin: 16px 0px 0px 0px;
}

.block_blue_04{
    background-color: rgb(237, 242, 254);
    border-radius: 12px;
    padding: 16px 24px;
    margin: 24px 0px 24px;
    position: relative;
}

.container_flex_block_05 {
    height: 1400px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.title_h1_block_05 {
    font-size: 32px;
    font-style: normal;
    margin: 0px 0px 16px;
}

.block_05 {
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 4px #e3ebfc, 0 24px 48px #e6ebf566;
    border-radius: 12px;
    padding: 24px;
    width: 965px;
}

.block_blue_05{
    background-color: rgb(237, 242, 254);
    border-radius: 12px;
    padding: 16px 24px;
    margin: 24px 0px 0px;
    position: relative;
}

.ol_block_05 {
    padding: 0px 16px 0px;

}

.ol_block_05 li {
    position: relative;
    margin-bottom: 16px;
    padding-left: 0;
}

.ol_block_05 li::marker {
    color: #4d83fa;
    font-weight: 700;
}

.li_block_05 {
    color: #0d4cd3;
}
