.min-height {
    height: calc(100vh - 150.6px);    
}

.pd_0 {
    padding: 0;
}

.radio_group_h1 {
    margin-top: 0;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

.border-radius_12 {
    border-radius: 12px;
    margin-right: 12px;
}

.white_block_shadow {
    padding: 12px;
}

:where(.css-dev-only-do-not-override-p8b6i).ant-radio-button-wrapper {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px 20px 20px 20px;
    padding-block: 0;
    font-family: 'Open Sans', 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    background: rgb(255, 236, 189);
    cursor: pointer;
}

:where(.css-dev-only-do-not-override-p8b6i).ant-radio-button-wrapper:hover {
    color: orange;
}

:where(.css-dev-only-do-not-override-p8b6i).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: orange;
}

:where(.css-dev-only-do-not-override-p8b6i).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    z-index: 1;
    color: orange;
    background: #ffffff;
    border-color: orange;
}

:where(.css-dev-only-do-not-override-p8b6i).ant-radio-group {
    margin: 0;
}

.gap_radio {
    gap: 50px;
}