.p_footer {
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 0;
}

.footer_mg {    
    background-color: rgb(255, 249, 234);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}