.white_block_shadow {
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 4px #e3ebfc, 0 24px 48px #e6ebf566;
    border-radius: 12px;
    padding: 32px;
}

.white_text_block {
    margin: 50px 0px 50px 0px;
    width: 80%;
    height: auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #ff914d;
}

.image_height_three {
    height: 350px;
}